<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
<application>
    <activity
        android:name=".QuickActivity"
        android:exported="true"
        android:theme="@style/Theme.JetNote.NoActionBar"
        tools:ignore="WrongManifestParent">
        <intent-filter>
            <action android:name="android.intent.action.QUICK_VIEW" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <service
        android:name=".QuickTileService"
        android:exported="true"
        android:icon="@drawable/plus_24"
        android:label="Quick Note"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE" />
        </intent-filter>
    </service>
</application>
</manifest>